/* Header*/

body {
    font-family: 'Sen', sans-serif;
    margin: 0;

}

header {
    background-color: #003b95;
}

.article1 {
    display: flex;
    justify-content: space-between;
    color: white;
    height: 120px;
    flex-wrap: wrap;
}

.section-nav1 {
    display: flex;
    align-items: center
}

.section-nav1 img {
    background-color: rgba(179, 178, 178, 0.705);
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.section-nav1 h1 {
    letter-spacing: 3px;
    font-size: 25px;
    margin-left: 50px;
}

.nav-ul1 {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.nav-li1 {
    margin: 10px;
}

.nav-bouton {
    background: white;
}

.nav-bouton:hover {
    background: rgb(166, 166, 201);
}

.nav-liens,
.bouton {
    color: #003b95;
    text-decoration: none;
    padding: 10px;
    border-radius: 9px;
    font-weight: 600;
}

.nav-ul2 {
    display: flex;
    list-style: none;
}

.nav-img-question {
    width: 35px;
}

.nav-img-bateau {
    width: 250px;
    display: flex;
    margin: auto;
}

.img-maps {
    background-image: url(images/marseille-main1.png);
}

/*---------------Menu--------------*/

.article2 {
    background-color: white;
    height: 200px
}

.menu {
    display: flex;
    justify-content: center;
    background-color: white;
    flex-wrap: wrap;
}


.normal-btn,
.dropbtn {
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;
    justify-content: center;
    border: 3px solid orange;
    background-color: white;
    padding: 10px;
    color: black;
    width: 150px;
    height: 45px;
    margin: -36px 0 0;
    transition: transform 0.3s ease;
}



.dropdown-content img,
.dropbtn img {
    width: 30px;
    margin-right: 10px;
}

.normal-btn img {
    width: 50px;
    margin-right: 10px;
    transition: transform 0.3s ease;

}

.normal-btn:hover,
.dropbtn:hover {
    transform: scale(1.05);

}

.normal-btn {
    transition: transform 0.3s ease;
}

/*---Changement de sens fleche---*/

.dropbtn a {
    display: inline-block;
    align-items: center;
}

.closedmenu {
    display: none;
}

.dropdown:hover img {
    display: none;
}

.dropdown:hover .closedmenu {
    display: initial;
}

.dropdown-content img {
    display: block !important;
}

/*---menu deroulant---*/
.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 100%;

}

.dropdown-content a {
    display: flex;
    align-items: center;
    text-align: left;
    padding: 12px 16px;
    text-decoration: none;
    color: #333;

}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .openedmenu img {
    display: none;
}

/*-----------main------------*/

.section1 {
    position: relative;
}

.section1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(images/marseille-background.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    opacity: 0.3;
    z-index: -2;
}


fieldset {
    border: 3px solid #ffb700;
    text-align: cover;
    background-color: white;
    margin-bottom: 10px;
}

legend {
    border: 3px solid #ffb700;
    padding: 3px;
    background-color: white;
}

.form-titre {
    margin: 0;
    text-align: center;
    padding: 100px 0 20px;
    color: #5c5b5b;
    font-size: 34px;
}

.formulaire {
    color: #4a4b4d;
    font-weight: 400;
    font-family: 'Sen', sans-serif;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.input-form,
textarea {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: none;
    background-color: white;
}

.text-form {
    width: 60%;
    height: 60px;
    margin-left: 25%;
    padding: 0 2px 2px 2px;
}

.message {
    width: 60%;
    height: 100px;
    margin-left: 25%;
    padding: 0 0 4px 2px;
}

.message-texte {
    color: white;
}

.conditions {
    font-size: 14px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 1%;
}

.envoyer {
    color: #4a4b4d;
    font-size: 13px;
    font-weight: 600;
    border: solid 2px #ffb700;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 1%;
    padding-left: 1%;
    width: 15%;
    height: 7%;
    text-align: center;
    margin-top: 2%;
    margin-left: 62%;
    margin-bottom: 5%;
    background-color: white;
    font-family: 'Sen', sans-serif;
    ;

}

.envoyer:hover {
    background: #ffb700;
    border-color: white;
}

.envoyer:active {
    background: white;
}

.section2 {
    height: 240px;

}

/* Footer */

hr {
    margin: 3%;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #003b95;
    height: 250px;
}

.footer-ul {
    list-style: none;
    color: white;
}

.footer-section {
    display: flex;
    flex-direction: column;
}

.footer-section-carte {
    display: flex;

}

.sidebar-h2 {
    font-size: 16px;
}

.article-footer {
    display: flex;
}

.footer-liens {
    color: white;
    text-decoration: none;
}

.footer-liens:hover {
    color: white;
    text-decoration: underline;
}

.fa-brands {
    color: white;
    margin: 5px;
}

.footer-img-carte {
    width: 100%;
    object-fit: contain;
    height: 100%;
    margin: 0;
}

.footer-section-carte {
    display: flex;
    width: 10%;
    height: 70%;
    margin: 2%;
}

.footer-img-log {
    width: 100px;
    object-fit: contain;
}

.logo-marseille {
    margin-right: 50px;
}

.footer-img-log1 {
    width: 70px;
}

