html {
    scroll-behavior: smooth;
}
/**----contenu-----**/

.section-a {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Sen', sans-serif;
}

.introh1 {
    margin: 0 5% 0;
}

h1 {
    margin: 0;
    font-size: 45px;

}

.intro {
    color: #5c5b5b;
    font-size: 18px;
    margin: 0 5% 20px;
}

.histoire {
    display: flex;
    min-height: 80vh;
    margin-bottom: 50px;
    align-content: center;
}

.histoire-img {
    width: 20%;
    position: relative;
    display: flex;
    align-items: center;
}

.image-droite,
.image-gauche {
    height: 80vh;
    width: 100%;
    object-fit: cover;
    position: absolute;
    object-position: top;
    border-radius: 10px;
}

.image-gauche {
    margin-left: 2%;
}

.image-droite {
    margin-right: 2%;
}




.content {
    flex: 1;
    background-color: #eeeeee;
    padding: 50px;
    border-radius: 15px;
    width: 70%;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
}


h2 {
    margin: 0;
    text-align: center;
    font-weight: bolder;
    font-size: 45px;
    color: black;

}

.content p {
    display: flex;
    font-size: 20px;
    flex: 1;
    padding: 0 10% 0;
    align-items: center;
    font-family: 'Sen', sans-serif;
    color: #5c5b5b;
    line-height: 30px;
}

/*menu lateral*/


.menu-section {
    display: flex;
    width: 10%;
    float: left;
    justify-content: center;
    align-items: center;
}

.vertical-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vertical-menu a {
    text-decoration: none;
    position: relative;
}

.vertical-menu img {
    width: 50px;
    height: 50px;
    padding: 2px;
    margin: 2px;
    border: 2px solid #FFB700;
    border-radius: 10px;
}

.hover-text {
    position: absolute;
    left: -100%;
    top: 50%;
    transform: translateX(-100%);
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    transition: left 0.3s ease;
    opacity: 0;
}

.vertical-menu a:hover .hover-text {
    left: 0;
    opacity: 1;
}

/*-------media queries-----*/

@media screen and (max-width: 870px) {

    .histoire {
        flex-direction: column;
        align-items: center;
        margin: 0 5px 50px;
        border: 1px solid;

    }

    .content p {
        font-size: 17px;
    }

    .content h2 {
        font-size: 30px
    }

    .histoire-img {
        width: 85%;
        margin: 30px 0 30px;
    }

    .content {
        width: 75%;
        padding: 10px;
    }

    .histoire-img img {
        height: 80px;
    }

    .vertical-menu {
        flex-direction: row;
        width: 70%;
        justify-content: space-around;
        margin: 30px 0 30px
    }

    .vertical-menu img {
        width: 30px;
        height: 30px;
    }

    .image-droite,
    .image-gauche {
        justify-content: center;
        position: initial;
        margin: 0;
    }

    .hover-text {
display: none;
}

}