
article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
} 

body {
        font-family: 'Sen', sans-serif;
}

h2 {
    font-size: 50px;
}

.section1 {
    display: flex;
    flex-direction: column; 
    margin: 10px;  
    border: 1px solid #e4e4e4;
}

.section-a {
    display: flex;
    justify-content: center;
    background-color: #e4e4e4;
    height: 258px;
    width: 386px;
    padding: 10px;
    object-fit: cover;
}

.section-a:hover {   
    background-color: #ffb700;
}

.section-b {
    display: flex;
    flex-wrap: wrap;
    height: 180px;
    width: 250px;
    padding: 10px;  
}

p {
    color: #bdbdbd;
    font-size: 12px;
    margin: 30px 20px 40px 20px;
}

.p1 {
    font-size: 16px;
    color: black;
    font-weight: 400;
    margin-bottom: 0;
}

.p2 {
    font-size: 22px;
    color: black;
    font-weight: 400;
    margin: 0;
}

.p3 {
    font-size: 16px;
    color: #bdbdbd;
    font-weight: 400;
}

.img-musée {
    height: 257px;
    width: 376px;
}

.img-musée:hover {
    transform: scale(1.05);
}