/*----------MAIN: sidebar----------*/

/* ---Section1: Bonne mère en ligne jaune---*/
.section-ligne-jaune {
    display: flex;
    justify-content: center;
    margin-bottom: -30px;
}

.img-ligne-jaune {
    width: 100px;
}

/*---Section1: tableau---*/
main {
    display: flex;
}

.article3 {
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 0 10px auto 10px;
}

.sous-section1 {
    width: 100%;
    height: 50px;
    background-color: rgb(172, 170, 170);
    border-radius: 10px;
    margin: 0 10px 10px 0;

    padding: 5px 16px;
    background:
        linear-gradient(90deg,
            rgb(233, 230, 230) 21%,
            rgb(179, 178, 178) 53%,
            rgb(136, 135, 135) 100%),
        linear-gradient(90deg,
            rgb(117, 117, 117) 21%,
            rgb(117, 117, 117) 50%,
            rgba(117, 117, 177, 1) 50%);
    background-size: 100% 100%, 0 0;
    background-repeat: no-repeat, no-repeat;
    background-color: rgb(201, 201, 201)0;
    transition-duration: 1s;
}

.sous-section1:hover {
    background-color: rgb(131, 130, 130);
    background-size: 0 100%;
    transition-duration: 1s;
}

.p1 {
    color: darkslategray;
}

.lien-sidebar {
    text-decoration: none;
    font-size: 15px;
    color: #3b3b3b;
}

.lien-sidebar:hover {
    font-size: 16px;
    color: #4b4a4a;
}

/* ----------Section1: tableau----------*/

table {
    font-size: 12px;
    margin: 20px auto;
    border-spacing: 0;
    border-radius: 10px;
}

td,
th {
    padding: 2px;
    font-family: 'Sen', sans-serif;
    border: 1px solid grey;
}

table  tr:first-child th {
border-top-right-radius: 10px;
border-top-left-radius: 10px;
}

table tr:last-child td {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
}

th {
    background: grey;
    font-weight: 800;
    text-align: start;
}

.titre-tableau {
    font-weight: 600;
}

.icone {
    width: 20px;
    height: 20px
}

/* ----------MAIN: section principal----------*/

/* ----------Section1: texte intro----------*/

.article4 {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: auto;
    margin-left: 40px;
}

.p-text-intro {
    margin: auto auto 20px;
    color: rgb(75, 74, 74);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.bienvenue {
    font-size: 24px;
}

/* ----------Section1: images bloc----------*/

.img-main {
    display: flex;
    justify-content: center;
}

.img-mars1 {
    width: 45%;
    height: auto;
    border-radius: 10px;
    margin: 5px;
}

.img-mars2 {
    width: 30%;
    height: auto;
    border-radius: 10px;
    margin: 5px;
}

/* ----------Section1: Actualités----------*/

.bouton-lire {
    background-color: #003b95;
    padding: 8px;
    border-radius: 10px;
    width: 20%;
}

.lien-actualité {
    color: white;
    text-decoration: none;
}

.lien-actualité:hover {
    text-decoration: underline;
}

  /*----------MEDIA QUERIES-----------*/
  
@media screen and (max-width: 870px) {
    main {
    flex-direction: column-reverse;
    }

    .actu{ display: none;
    }

    .article3 {
        width: initial;
    }

    .section1 {
        margin-top: 40px;
    }

    .sous-section1 {
        padding: 5px 1px;
    }

    .article4 {      
        width: initial;
        margin-left: 0px;
    }
}
  


