/*---Premer bloc---*/

main {
    font-family: 'Sen', sans-serif;
    margin: auto;
}

.article2a,
.article4,
.article5 {
    width: 80%;
    margin: auto;
}

main hr {
    margin: 2%;
}

/*-------------intro----------*/
.section-a {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Sen', sans-serif;
    width: 100%;
}

.intro h1 {
    margin: 0 5% 0;
    font-size: 45px;
}

.article1a p {
    font-size: 18px;
    color: #5c5b5b;
    margin: 30px 5% 20px;
}

.section-maps {
    width: 50%;
    margin: auto 50px auto 50px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bloc-texte h1,
.article5 h1 {
    font-size: 22px;
    font-weight: 400;
    color: rgb(36, 35, 35);
}

p {
    font-size: 12px;
    color: #5c5b5b;
    margin: 0;
    padding: 0;
}

.p1 {
    margin: 10px auto 30px auto;
}

.p-interdit {
    color: white;
    font-family: 'Sen', sans-serif;
}

.article2a {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.section2 {
    display: flex;
    background-color: #003b95;
    margin: 1%;
    width: 210px;
    height: 80px;
    border-radius: 10px;
    object-fit: contain;
}

.section-logo-interdit {
    margin: auto 6px auto 5px;
}

.img-section2 {
    width: 60px;
    height: 60px;
    border: 2px solid black;
    border-radius: 10px;
}

.img-cueillette,
.img-déchets {
    width: 73px;
    height: 60px;
    border: 2px solid black;
    border-radius: 10px;
}

.section-texte-interdit {
    display: flex;
    justify-content: center;
    margin: auto;
}

/*---Troisième bloc---*/

img {
    max-width: 100%;
}

.section-étoile {
    display: flex;
    justify-content: end;
    align-items: baseline;
}

.article3 {
    position: relative;
}

.slider-container {
    max-width: 600px;
    position: relative;
    margin: auto;
    height: 360px;
    overflow: hidden;
}

.menuparc {
    position: absolute;
    left: 0;
    z-index: 11;
    width: 100%;
    bottom: 0;
    text-align: center;
}

.menuparc label {
    cursor: pointer;
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #ccc;
    border-radius: 50px;
    margin: 0 0.2em 1em;
}

.menuparc label:hover,
.menuparc label:focus {
    background: #ffb700;
}

.slide-img {
    width: auto;
    height: 300px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 10;
    transition: left 0s 0.75s;
    border-radius: 10px;
    box-shadow: 10px 5px 5px rgb(197, 197, 197);
}

[id^="slide1"]:checked+.slide-img {
    left: 0;
    z-index: 100;
    transition: left 0.65s ease-out;
}

[id^="slide2"]:checked+.slide-img {
    left: 0;
    z-index: 100;
    transition: left 0.65s ease-out;
}

[id^="slide3"]:checked+.slide-img {
    left: 0;
    z-index: 100;
    transition: left 0.65s ease-out;
}

[id^="slide4"]:checked+.slide-img {
    left: 0;
    z-index: 100;
    transition: left 0.65s ease-out;
}

[id^="slide5"]:checked+.slide-img {
    left: 0;
    z-index: 100;
    transition: left 0.65s ease-out;
}

.logo-localisation {
    width: 30px;
    height: 30px;
}

.étoile {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

/*---Quatrième bloc---*/

.article4 {
    display: flex;
    flex-direction: column;
}

.bloc-image-texte {
    display: flex;
    margin: 20px 0;
    border-radius: 10px;
    padding: 10px;
}

.bloc-image {
    width: 40%;
    height: auto;
    margin: 0 20px;
}

.bloc-texte {
    width: 60%;
}

.section-lieu {
    margin: 10px;
}

.logo-localisation {
    width: 15px;
    height: 15px;
}

.logo-metro {
    width: 25px;
    height: 25px;
}

.parc {
    text-decoration: underline;
    color: #5c5b5b;
}

.parc:hover {
    text-decoration: none;
}

/*---Cinquième bloc---*/

.article5 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

iframe {
    width: 640px;
    height: 480px;
}

/*---MEDIA QUERIES---*/

@media screen and (max-width: 870px)  {
 
    .bloc-image-texte {
        display: flex;
        flex-direction: column;
        margin: 20px 0;
        border-radius: 10px;
        padding: 10px;
    }  
    
    .bloc-image {
        width: 100%;
        height: auto;
    }

    iframe {
        width: 220%;
        height: 180px;        
    }

    .bloc-texte {
        width: 100%;
    }

    .reverse {
        flex-direction: column-reverse;
    }
}

