/* Header*/

body {
    font-family: 'Sen', sans-serif;
    margin: 0;

}

header {
    background-color: #003b95;
}

.article1 {
    display: flex;
    justify-content: space-between;
    color: white;
    height: 120px;
    flex-wrap: wrap;
}

.section-nav1 {
    display: flex;
    align-items: center
}

.section-nav1 img {
    background-color: rgba(179, 178, 178, 0.705);
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.section-nav1 h1 {
    letter-spacing: 3px;
    font-size: 25px;
    margin-left: 50px;
}

.nav-ul1 {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.nav-li1 {
    margin: 10px;
}

.nav-bouton {
    background: white;
}

.nav-bouton:hover {
    background: rgb(166, 166, 201);
}

.nav-liens,
.bouton {
    color: #003b95;
    text-decoration: none;
    padding: 10px;
    border-radius: 9px;
    font-weight: 600;
}

.nav-ul2 {
    display: flex;
    list-style: none;
}

.nav-img-question {
    width: 35px;
}

.nav-img-bateau {
    width: 250px;
    display: flex;
    margin: auto;
}

.img-maps {
    background-image: url(images/marseille-main1.png);
}

/*---------------Menu--------------*/

.article2 {
    background-color: white;
    height: 200px
}

.menu {
    display: flex;
    justify-content: center;
    background-color: white;
    flex-wrap: wrap;
}


.normal-btn,
.dropbtn {
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;
    justify-content: center;
    border: 3px solid orange;
    background-color: white;
    padding: 10px;
    color: black;
    width: 150px;
    height: 45px;
    margin: -36px 0 0;
    transition: transform 0.3s ease;
}



.dropdown-content img,
.dropbtn img {
    width: 30px;
    margin-right: 10px;
}

.normal-btn img {
    width: 50px;
    margin-right: 10px;
    transition: transform 0.3s ease;

}

.normal-btn:hover,
.dropbtn:hover {
    transform: scale(1.05);

}

.normal-btn {
    transition: transform 0.3s ease;
}

/*---Changement de sens fleche---*/

.dropbtn a {
    display: inline-block;
    align-items: center;
}

.closedmenu {
    display: none;
}

.dropdown:hover img {
    display: none;
}

.dropdown:hover .closedmenu {
    display: initial;
}

.dropdown-content img {
    display: block !important;
}

/*---menu deroulant---*/
.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 100%;

}

.dropdown-content a {
    display: flex;
    align-items: center;
    text-align: left;
    padding: 12px 16px;
    text-decoration: none;
    color: #333;

}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .openedmenu img {
    display: none;
}

/*---Premer bloc---*/

main {
    font-family:'Sen', sans-serif;
}
hr {
    margin: 5%;
}

iframe {
    width: 100%;
}

.section-maps {   
    width: 50%;
    margin: auto 50px auto 50px;      
    padding: 10px;  
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*---Deuxième bloc---*/

h1 {
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 15px;
    color: rgb(36, 35, 35);
}

p{
    font-size: 12px;
    color: #5c5b5b;
    margin: 0;
    padding: 0;
}

.p1 {
margin: 10px auto 30px auto;
}

.p-interdit {
    color: white;
    font-family:'Sen', sans-serif;
}

.article2 {
    display: flex;  
    justify-content: center;  
    flex-wrap: wrap;
}

.section2 { 
    display: flex;
    background-color: #003b95;
    margin: 1%;
    width: 210px;
    height: 80px;
    border-radius: 10px;
    object-fit: contain;
}

.section-logo-interdit {
    margin: auto 6px auto 5px;
}

.img-section2 {
    width: 60px;
    height: 60px;
    border: 2px solid black;
    border-radius: 10px;
}

.img-cueillette, .img-déchets {
    width: 73px;
    height: 60px;
    border: 2px solid black;
    border-radius: 10px;
}


.section-texte-interdit {
    display: flex;
    justify-content: center;
    margin: auto;
}


/*---Troisième bloc---*/

h1 {
    font-size: 22px;
    font-weight: 400;
    color: rgb(36, 35, 35);
    }

img {
    max-width: 100%;
}

.section-étoile {
    display: flex;
    justify-content: end;
    align-items: baseline;
}

.article3 {
    position: relative;
}

.slider-container {
    max-width: 600px;
    position: relative;
    margin: auto;
    height: 360px;
    overflow: hidden;
}

.menu {
    position: absolute;
    left: 0;
    z-index: 11;
    width: 100%;
    bottom: 0;
    text-align: center;
}

.menu label {
    cursor: pointer;
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #ccc;
    border-radius: 50px;
    margin: 0 0.2em 1em;
}

.menu label:hover,.menu label:focus {
    background: #ffb700;
}

.slide-img {
    width: 80%;
    height: 300px;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 10;
    transition: left 0s 0.75s;
    border-radius: 10px;
    box-shadow: 10px 5px 5px rgb(197, 197, 197);
}

[id^="slide1"]:checked + .slide-img {
    left: 0;
    z-index: 100;
    transition: left 0.65s ease-out;
}

[id^="slide2"]:checked + .slide-img {
    left: 0;
    z-index: 100;
    transition: left 0.65s ease-out;
}

[id^="slide3"]:checked + .slide-img {
    left: 0;
    z-index: 100;
    transition: left 0.65s ease-out;
}

[id^="slide4"]:checked + .slide-img {
    left: 0;
    z-index: 100;
    transition: left 0.65s ease-out;
}

[id^="slide5"]:checked + .slide-img {
    left: 0;
    z-index: 100;
    transition: left 0.65s ease-out;
}

.logo-localisation {
    width: 30px;
    height: 30px;
}

.étoile {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

/*---Quatrième bloc---*/

.article4 {
    display: flex;
    flex-direction: column;
}

.bloc-image-texte {
    display: flex;
    margin: 20px 0;
    border-radius: 10px;
    padding: 10px;
}

.bloc-image {
    width: 40%;
    height: auto;
    margin: 0 20px;
}

.bloc-texte {
    width: 60%;
}

.section-lieu {
    margin: 10px;
}


.logo-localisation {     
    width: 15px;
    height: 15px; 
} 

.logo-metro {     
    width: 25px;
    height: 25px; 
} 

.parc {
    text-decoration: underline;
    color: #5c5b5b;
}
.parc:hover {
    text-decoration: none;
}

/* Footer */

hr {
    margin: 3%;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #003b95;
    height: 250px;
}

.footer-ul {
    list-style: none;
    color: white;
}

.footer-section {
    display: flex;
    flex-direction: column;
}

.footer-section-carte {
    display: flex;

}

.sidebar-h2 {
    font-size: 16px;
}

.article-footer {
    display: flex;
}

.footer-liens {
    color: white;
    text-decoration: none;
}

.footer-liens:hover {
    color: white;
    text-decoration: underline;
}

.fa-brands {
    color: white;
    margin: 5px;
}

.footer-img-carte {
    width: 100%;
    object-fit: contain;
    height: 100%;
    margin: 0;
}

.footer-section-carte {
    display: flex;
    width: 10%;
    height: 70%;
    margin: 2%;
}

.footer-img-log {
    width: 100px;
    object-fit: contain;
}

.logo-marseille {
    margin-right: 50px;
}

.footer-img-log1 {
    width: 70px;
}