

article {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.section {   
    display: flex;
    border: 1px solid grey;
    margin: 10px 0;
    border-radius: 10px;
}

.bloc1 {
    display: flex;
    align-items: center;
}

.bloc2a {
    display: flex;
    align-items: baseline;
}

/* section image */

.img {
    width: 200px;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
    align-items: center;
}

.étoile {
    width: 10px;
    height: 10px;
    margin-right: 2px;
}
