/*----------HEADER----------*/

header {
    background-color: #003b95;
}

/*---Section 1: logo, bulle question, s'inscrire, se connecter---*/

.article1 {
    display: flex;
    justify-content: space-between;
    color: white;
    height: 145px;
    flex-wrap: wrap;
}

.section-nav1 {
    display: flex;
    width: 50%;
    margin: 5px 5px 0;
}

.section-nav1 h1 {
    letter-spacing: 3px;
    font-size: 25px;
    align-self: center;
    margin-left: 50px;
}

.section-nav1 img {
    background-color: rgba(179, 178, 178, 0.705);
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin-left: 5px;
}

.nav-ul1 {
    display: flex;
    list-style: none;
    padding-left: 0;

}

.nav-li1 {
    margin: 10px;
}

.nav-bouton {
    background: white;
}

.nav-bouton:hover {
    background: rgb(166, 166, 201);
}

.nav-liens,
.bouton {
    color: #003b95;
    text-decoration: none;
    padding: 10px;
    border-radius: 9px;
    font-weight: 600;
}

.nav-ul2 {
    display: flex;
    list-style: none;
}

header ul {
    align-items: center;
}

.nav-img-question {
    width: 35px;
}

.img-maps {
    background-image: url(images/marseille-main1.png);
}

/*---Section2: Menu déroulant---*/


body {
    font-family: 'Sen', sans-serif;
    margin: 0;
}

.article2 {
    background-color: white;
    height: 100px;
}

.menu {
    display: flex;
    justify-content: center;
    background-color: white;
    flex-wrap: wrap;
}

.nav-img-bateau {
    width: 250px;
    display: flex;
    margin: auto;
}

.normal-btn,
.dropbtn {
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;
    justify-content: center;
    border: 3px solid rgb(255, 183, 0);
    background-color: white;
    padding: 10px;
    color: black;
    width: 150px;
    height: 45px;
    margin: -36px 0 0;
    transition: transform 0.3s ease;
}

.dropdown-content img,
.dropbtn img {
    width: 30px;
    margin-right: 10px;
}

.normal-btn img {
    width: 50px;
    margin-right: 10px;
    transition: transform 0.3s ease;
}

.normal-btn:hover,
.dropbtn:hover {
    transform: scale(1.05);
}

.normal-btn {
    transition: transform 0.3s ease;
}

/*---Changement de sens fleche---*/

.dropbtn a {
    display: inline-block;
    align-items: center;
}

.closedmenu {
    display: none;
}

.dropdown:hover img {
    display: none;
}

.dropdown:hover .closedmenu {
    display: initial;
}

.dropdown-content img {
    display: block !important;
}

/*---menu deroulant---*/

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 100%;
}

.dropdown-content a {
    display: flex;
    align-items: center;
    text-align: left;
    padding: 12px 16px;
    text-decoration: none;
    color: #333;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .openedmenu img {
    display: none;
}


/*----------FOOTER----------*/

footer hr {
    height: 80px;
}

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #003b95;
}

.footer-ul {
    list-style: none;
    color: white;
    padding: 0 5px 0;
}

.footer-section {
    display: flex;
    flex-direction: column;
}

.footer-section-carte {
    display: flex;
}

.sidebar-h2 {
    font-size: 16px;
}

.article-footer {
    display: flex;
}

.footer-liens {
    color: white;
    text-decoration: none;
}

.footer-liens:hover {
    color: white;
    text-decoration: underline;
}

.fa-brands {
    color: white;
    margin: 5px;
}

.footer-img-carte {
    width: 100%;
    object-fit: contain;
    height: 100%;
    margin: 0;
}

.footer-section-carte {
    display: flex;
    width: 10%;
    height: 70%;
    margin: 2%;
}

.footer-img-log {
    width: 100px;
    object-fit: contain;
}

.footer-img-log1 {
    width: 70px;
}

/*-------MEDIA QUERIES---------*/

/*---HEADER---*/

@media screen and (max-width: 870px) {

    .normal-btn img,
    .dropbtn img,
    .closedmenu,
    .openedmenu img,
    .dropdown-content img {
        display: none !important;
    }

    .dropbtn,
    .normal-btn {
        width: auto;
        height: auto;
        margin: 0 1px 1px;
    }

    .dropdown-content a {
        font-size: 11px
    }

    .article1 {
        height: 150px;
        justify-content: space-around;
        align-items: center;
    }

    .article2 {
        height: 100px
    }
  /*----------FOOTER-----------*/
    /*----------FOOTER-----------*/

    footer {
        flex-direction: column;
        margin: 0;

    }

    footer hr {
        height: 0;
        width: 70%;
    }
    footer hr:first-of-type,
    footer hr:last-of-type {
        visibility: hidden;
    }

    footer img {
        display: none
    }

    .footer-section {
        flex-direction: row;
    }

    .section-nav1 {
        width: initial;
        margin: 0 5px 0 0;
        align-items: center
    }

    .section-nav1 img {
        width: auto;
        height: 55px;
        margin-right: 5px
    }

    .section-nav1 h1 {
        margin: 0
    }

    .footer-ul {
        text-align: center;
        margin: 0 0 20px
    }

    .nav-li1 {
        margin: 1px;
    }

    .nav-liens {
        padding: 5px
    }
}