

/* ---------------------------vanny----------------------*/
/* Header*/

body {
    font-family: 'Sen', sans-serif;
}

header {
    background-color: #003b95;
}

.article1 {
    display: flex;
    justify-content: space-between;
    color: white;
}

.section-nav1 {
    display: flex;
}

.nav-ul1 {
    display: flex;
    list-style: none;
}

.nav-li1 {
    margin: 10px;
}

.nav-bouton {
    background: white;
}

.nav-bouton:hover {
    background: rgb(166, 166, 201);
}

.nav-liens, .bouton {
    color: #003b95;
    text-decoration: none;
    padding: 10px;
    border-radius: 9px;
    font-weight: 600;
}

.nav-ul2 {
    display: flex;
    list-style: none;
}

.nav-img-question {
    width: 35px;
}

.nav-img-bateau {
    width: 250px;
    display: flex;
    margin: auto;
}

.img-maps {
    background-image: url(images/marseille-main1.png);
}
/* Main - sidebar */

.article3 {
    display: flex;
}

.section-main1 {    
    width: 30%;
    margin-right: 10px;
   
}

.section-main1a, .section-main1b, .section-main1c, .section-main1d {
    border: 1px solid grey;
    margin: 10px 0;
}

.section-main1a {
    border: 1px solid grey;
    margin: 0 10px 10px 0;
    
    border-radius: 10px;  
}

.sidebar-ul {
    list-style: none;
    margin: 0;    
    padding: 0;
}

.sidebar-li {
    margin: 0;
    padding: 0;
    color: rgb(88, 88, 88);
}

.sidebar-lien {
    color: rgb(88, 88, 88);
}

.sidebar-lien:hover {
    color: rgb(88, 88, 88);
    text-decoration: none;
}

.section-maps {
    border: 1px solid grey;
    margin: 0 10px 10px 0;
    padding: 060px;
    border-radius: 10px;
    background-image: url(images/marseille-main4.png);
    background-size: 100%;
    text-align: center;
}

.section-office {
    padding: 10px;
}

.img-office {
  width: 120px;
  margin-right: 0; 
  border: 1px solid red;

}


/* Main - Principal*/
hhhhhhhhhh

.section-main2 {
    border: 1px solid grey;
    width: 70%;
    padding: 15px;
} 
   
.mains-liens-mars {
    text-decoration: none;
    color: white;
    border-radius: 10px;
    background-color: #003b95;
    padding: 20px;
}

.mains-liens-mars:hover {
    text-decoration: none;
    color: rgb(230, 224, 224);
   
}



/* Footer */

footer {
    background-color: #003b95;
}

.sidebar-h2 {
    font-size: 16px;
}

.article-footer {
    display: flex;
}

/* ---------------------------vanny----------------------*/


/* ---------------------------Lucas----------------------*/
/* ---------------------------Lucas----------------------*/