table {
    border-collapse: collapse;
    font-size: 12px;
}

td,th {
    border: 1px solid grey;
    padding: 2px;
    font-family: 'Sen', sans-serif;    
}

th {
    background: grey;
    font-weight: 800;
}

.titre-tableau {
    font-weight: 600;
 
}
